#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
   &kp TAB  &kp Q &kp W    &kp F    &kp P &kp B   &kp J   &kp L &kp U    &kp Y    &kp SCLN &kp BKSP
            >;
        };

        lower_layer {
// TODO: fix undesrcope after the mkp feature is added
            bindings = <
   &trans   &none     &kp LBKT  &kp RBKT  &none     &none     &none     &none     &kp MINUS &kp MINUS &none     &trans
            >;
        };

        raise_layer {
// TODO: fix this layer once mkp feature is added
            bindings = <
  &trans   &none     &kp LBKT  &kp RBKT  &none     &none     &none     &none     &kp MINUS &kp MINUS &none     &trans
           >;
        };
    
        adjust_layer {
            bindings = <
  &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none &none &none &none &none &none
           >;
        };
    };
    
};